.uw-module-body p {
  margin-bottom: 0;
}
.uw-module-body div.white-module {
  padding-top: 60px;
  padding-bottom: 20px;
}
.uw-module-body div.white-module div.mod-text {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.uw-module-body div.full-module {
  height: inherit !important;
  background-size: cover;
}
.uw-module-body div.full-module img {
  height: 0;
}
.uw-module-body div.full-module div.container {
  top: 50px;
  left: 175px;
  margin-bottom: 0;
}
.uw-module-body div.full-module div.container .uw-site-title {
  font-family: "Encode Sans Compressed", sans-serif;
  font-weight: 900;
  line-height: 1;
  font-size: 80px;
  width: 450px;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-top: 60px;
  position: relative;
}
.uw-module-body div.full-module div.container #full-module-blurb {
  margin: 40px 0 300px;
  width: 85%;
  color: #fff;
  font-size: 17px;
  line-height: 1.72222;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.uw-module-body div.basic-module {
  height: 350px;
  background-size: cover;
}
.uw-module-body div.basic-module #basic-mod-container {
  padding-top: 60px;
  padding-bottom: 20px;
}
.uw-module-body div.basic-module #basic-mod-container div.mod-text {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  text-align: center;
}
.uw-module-body div.thin-module {
  height: 150px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.uw-module-body div.thin-module div.mod-text {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.uw-module-body div.give-module {
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 20px;
}
.uw-module-body div.give-module div.giving-frame {
  width: 660px;
  display: inline-block;
}
.uw-module-body div.give-module div.giving-mod-how-to {
  display: inline-block;
}
@media only screen and (min-width: 1080px) {
  .uw-module-body div.give-module div.giving-mod-how-to {
    position: absolute;
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 25px;
  }
}
