.uw-module-body{
	
	p{
		margin-bottom: 0;
	}

	//Basic White
	div.white-module{
		//height: 500px;
		padding-top: 60px;
		padding-bottom: 20px;
		div.mod-text {
			width:70%;
			margin-right: auto;
		    margin-left: auto;
		    padding-left: 15px;
		    padding-right: 15px;
		}
	}

	//Full Page Image
	div.full-module{
		height: inherit !important;
		background-size:cover;
		//max-width: 100%;
		img {
			height: 0;
		}
		div.container{
			//position: absolute;
		    top: 50px;
		    left: 175px;
		    margin-bottom: 0;

			.uw-site-title {
				font-family: "Encode Sans Compressed",sans-serif;
			    font-weight: 900;
			    line-height: 1;
			    font-size: 80px;
			    width: 450px;
			    text-transform: uppercase;
			    color: #FFF;
			    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
			    margin-top: 60px;
			    position: relative;
			}

			#full-module-blurb{
				margin: 40px 0 300px;
				width: 85%;
				color: #fff;
			    font-size: 17px;
			    line-height: 1.72222;
			    font-weight: 400;
			    -webkit-font-smoothing: antialiased;
			}
		}
	}

	//Basic Image
	div.basic-module {
		height:350px;
		background-size: cover;
		#basic-mod-container {
  			padding-top: 60px;
			padding-bottom: 20px;

	  		div.mod-text {
				width:70%;
				margin-right: auto;
			    margin-left: auto;
			    padding-left: 15px;
			    padding-right: 15px;
			    color: #fff;
			    text-align: center;
			}
  		}
	}

	//Basic White
	div.thin-module{
		height: 150px;
		padding-top: 20px;
		padding-bottom: 20px;
		div.mod-text {
			width:85%;
			margin-right: auto;
		    margin-left: auto;
		    padding-left: 15px;
		    padding-right: 15px;
		}
	}

	div.give-module{
		margin-right: auto;
		margin-left: auto;
		max-width: 1200px;
		margin-bottom: 20px;
		div.giving-frame{
			width: 660px;
			display:inline-block;
		}
		div.giving-mod-how-to{
			display:inline-block;
			max-width: 550px;
			@media only screen and (min-width : 1024px) { 
				position: absolute;
				margin-top: 35px;
    			margin-left: 25px;
    			margin-right: 25px;
			}
		}
		@media only screen and (max-width : 1023px) {
			margin-right: auto;
			margin-left: auto;
			width: 660px;
		}
	}





}